<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |p| %>
    <p><%= p.title %></p>
    <p><%= p.subtitle %></p>
    <p><%= p.body %></p>
    <p><%= image_tag p.thumb_image unless p.thumb_image.nil? %></p>
    <%= link_to "Edit", edit_portfolio_path(p.id) %>
<% end %>
